.artist-section {
    display: flex;
    margin-top: 17px;
    margin-bottom: 17px;
    margin-left: 20px;
}

.artist-info {
    align-self: center;
    margin-left: 17px;
}

.artist-info .name {}

.artist-info .followers {
    color: grey;
}
